$color-primary: #b068e9;
$color-secondary: #6463e7;
$color-tertiary: #f47b56;

$color-gray: #787887;
$color-gray-light: #e8e8ea;
$color-black: #000;
$color-primary-font-active: #1e1f36;
$color-primary-font: #4b4c5f;
